<a href="/showallevents"><button class="btn btn-primary">Show All events</button></a>
<a href="/organizer/createEvent"><button class="btn btn-primary">Create New events</button></a>
<a href="/organizer/showmyevents"><button class="btn btn-primary">Show My events</button></a>
