<% include partials/header %>
<div class="container">
<form action="/login" method="post">
		<% if(error) {%>
		<h5><strong><%= error%> !</strong></h5>
		<% }%>
		<h2>LOGIN FORM</h2>
		<label>USERNAME</label>
		<input class="form-control" type="text" name="username" placeholder="username">
		<label>PASSWORD</label>
		<input  class="form-control" type="password" name="password" placeholder="password">
		<br>
		<button class="btn btn-success ">Submit</button>
</form>
</div>