<% include partials/header %>

<div class="container">
<div class="jumbotron">
	<form action="/register" method="post">
		<% if(error) {%>
		<h5><strong><%= error%> !</strong></h5>
		<% }%>
		<h1>Register Form</h1>
		<label>Full Name</label>
		<input class="form-control" type="text" name="NAME" placeholder="Name">
		<label>Username</label>
		<input class="form-control" type="text" name="USERNAME" placeholder="username">
		<label>User Type</label>
		<select class="form-control" name="usertype">
			 <option value="Participant">Participant</option>
  			 <option value="Organizer">Organizer</option>
		</select>
		<label>Phone No.</label>
		<input class="form-control" type="text" id="phone" name="PHONE"  placeholder="Number">
		<label>Email</label>
		<input  class="form-control" type="text"  name="EMAIL" placeholder="abc@gmail.com">
		<label>Password</label>
		<input  class="form-control" type="password"  name="PASSWORD" placeholder="password"/>
		<br>
		<input type="reset" name="reset">
		<button class="btn btn-success">Submit</button>
	</form>
</div>
</div>

